@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Mea+Culpa&family=Oswald:wght@200..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "BBH Hegarty", sans-serifs;
}

.header{
   text-align: center;
    color: black;
    background: rgb(63,251,200);
    background: radial-gradient(circle, rgb(63, 179, 251) 55%, rgba(233,70,252,1) 100%);;
}

.titulo{
    color: #484255;
    text-align: center;
    font-size: 3em;
}



.subtitulo{
    color: rgb(42, 45, 49);
    text-align: center;
    font-size: 1.5em;
}
.main{
    padding-top:4rem ;
    /* background-image: url(/img/fondo\ r.jpg); */
    background: #f4f6f6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* secciones */

section{
    padding: 2rem 1rem;

}
h2{
    text-align: center;
    margin-bottom: 1.5rem;
    
}
.titulo-form{
    color: rgb(68, 67, 67);
}
.formulario-registro{
    /* background-color:rgb(157, 157, 152) ; */
    max-width: 400px;
    margin: auto;
    margin-top: 3rem;
    overflow: hidden;
    background-color: #bfa1ef;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(247, 148, 253);
}

.form{
    /* display: flex; */
    margin-top: 20px;
}

.form form{
    display: flex;
    flex-direction: column;

}
 
.form label{
    margin-top: 0.8rem;
    font-size: 18px;
}
.form input{
    padding: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 6px;
}

.form button {
    padding: 0.5rem;
   margin-top: 0.5rem;
   border-radius: 6px;
   background-color: rgb(239, 158, 234);
   color: white;
   font-weight: bold;
   font-size: 18px;

}
.form button:hover{
    background-color:  rgb(233, 6, 157);
}



.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
}
.card{
    float: right;
    flex: 5%;
    margin: 5px;
    border: 2px solid black;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card .agregar{
    background: rgb(239, 158, 234);
    padding: 10px;
}
.card figure{
    margin: 0;
    height: 12em;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
}
h2{
    text-align: center;
    color: red;
}
h2.sub{
    
    text-align: center;
    color:blue;
}
input[type="button"]{
    background-color: blue;
    color: white;
}


